.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    outline: 1px solid lightgray;
}

.movie-title {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    color: #3f51b5;
}

.no-image {
    display: block;
    width: 300px;
    height: 300px;
    fill: #3f51b5;
}